<%= form_with model: @comment, url: post_comments_path(@post) do |form| %>
  <div class="mb-1">
    <%= form.label :message, class:"form-label" %>
    <%= form.text_field :message, class:"form-control" %>
  </div>
  <%= form.submit data:{ turbo_frame: "mainframe" }, class:"btn btn-primary"%>
<% end %>
