<%= turbo_frame_tag "mainframe" do %>
  <div class="container">
    <h1>New Comment</h1>
    <%= render "form", {comment: @comment, post: @post , post_comment_link: post_comments_path(@post,@comment)} %>
  </div>
<% end %>
