<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Prodcut</th>
        <th scope="col">Quantity</th>
        <th scope="col">Product Price</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= order.product.title %>
          </td>
          <td>
            <%= order.quantity  %>
          </td>
          <td>
            <%= order.product.price %>
          </td>
          <td>
            <%= order.total_price %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
