<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Canceled Orders</th>
      </tr>
    </thead>
    <tbody>
      <% @result.each do |r| %>
        <tr>
          <td><%= r.first.first %></td>
          <td><%= r.first.last %></td>
          <td><%= r.last %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
