<h1 class="text-center">Car</h1>
<div class="container text-center">
  <table class="table table-secondary">
    <tbody>
      <tr>
        <th scope="col">ID</th>
        <th scope="col"><%= @car.name %></th>
      </tr>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col"><%= @car.company %></th>
      </tr>
      <tr>
        <th scope="col">Last Name</th>
        <th scope="col"><%= @car.price %></th>
      </tr>
    </tbody>
  </table>
  <%= link_to "All Cars", cars_path,class: 'btn btn-primary m-3'%>
</div>
