<div class="container">
  <h1 class="text-center">Products</h1>
  <%= render "content" , products: @products %>
  <%= link_to "Add Product", new_product_path(), class: 'btn btn-primary text-center'%>
</div>
