<h1 class="text-center">Product</h1>
<div class="container text-center">
<table class="table table-secondary">
  <tbody>
    <tr>
      <th scope="col">ID</th>
      <th scope="col"><%= @product.id %></th>
    </tr>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"><%= @product.name %></th>
    </tr>
    <tr>
      <th scope="col">Price</th>
      <th scope="col"><%= @product.price %></th>
    </tr>
    <tr>
      <th scope="col">Category</th>
      <th scope="col"><%= @product.category %></th>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
<a href="../products/" class="btn btn-primary" >Home</a>
</div>
